<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Image search abrtraction layer</title>
    <meta name="description" content="Image search abrtraction layer">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
   <body>
    <header>
      <h1>
        Image search abstraction layer
      </h1>
      <h3>
        FreeCodeCamp's backend challenge
      </h3>
    </header>

    <main>
      
        <h3>
          Example usage:
        </h3>
        Append your search query to the URL of the app + /api/imagesearch/ like this: <code class="url">https://image-search-inka.glitch.me/api/imagesearch/cute%20kittens?offset=3</code>
        Where <code class="url">cute%20kittens</code> is our search string and <code class="url">%20</code> is representing a blank space
      <br><br>
        <h3>
          Example output:
        </h3>
          If there are any results, the output will look something like this: 
      
      <br><br>
      
      <div class="res">{"longURL":"http://www.freecodecamp.org","shortURL":"5","_id":"5a537d7b293c374536a1e27c"}</div>
      
      <br><br>
      
        When you recive your shortURL you can append it to the app URL like this:
        <code class="url">https://short-url-inka.glitch.me/5</code>
      
      <br><br>
        and you will be redirected to your long URL.
      Warning: This is for presentation only, there is no guarantee of how long will the short links work in the future, so use them for immediate use only
      
    </main>

  </body>
</html>